@model AttenceProject.Models.SysOverTime

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SysOverTime</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProposerID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProposerID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverTimeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverTimeType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Account_Method)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Account_Method)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverTimeReason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverTimeReason)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CopyFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CopyFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApplyStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApplyStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Applyrate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Applyrate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OpTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OpTime)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
