@model IEnumerable<AttenceProject.Models.SysApprove>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applyrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NowChecker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextChecker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpTime)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applyrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NowChecker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextChecker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
