@model AttenceProject.Models.SysDept

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SysDept</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DeptName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ParentNode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParentNode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeptOrder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptOrder)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeptRole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptRole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CopyFor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CopyFor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Operator)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Operator)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OpTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OpTime)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
